*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;

}
.col{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

.row{
    display: flex;
}