            {% comment %} Navigation Bar started {% endcomment %}
            <div class='menu'>
                <div class="lmenu">
                    <span id="logo">O'</span>RACLE
                </div>
                <div class="rmenu">
                    
                    <ul>
                        <a href="/home"><li id={% if request.path == '/home/' %} "active"{% endif %}>Home</li></a>
                        <a href="/about"><li id={% if request.path == '/about/' %} "active"{% endif %}>About</li></a>
                        <a href="/addition"><li id={% if request.path == '/home/' %} "active"{% endif %}>Addition</li></a>
                        <a href="/blogs"><li id={% if request.path == '/home/' %} "active"{% endif %}>Blogs</li></a>
                        <a href="/contact"><li id={% if request.path == '/contact/' %} "active"{% endif %}>Contact</li></a>
                    </ul>
                </div>
            </div>
            {% comment %} Navigation Bar Ended {% endcomment %}