<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/style.css" %}" >
    </head>
    <body>
        <div class='main'>
            {% include "header.html" %}
            <div class='data'>
                <h1>HOME PAGE</h1>
            </div>   
        </div>
        <script src="static/js/script.js"></script>
    </body>
</html>