<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DJANGO-PROJECT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    </head>
    <body>

        <div class="main">
            {% include "header.html" %}
           <div class='data'>
            <center>
                <form action='add'>
                    Enter A Number : <input type='number' name='n1'><br>
                    Enter B Number : <input type='number' name='n2'><br>
                    <input type='submit' value='Addition'><br>
                    <h2>Addition : {{output}}</h2>
                </form>
            </center>
            </div>
        </div>
        
    </body>
    <script src="js/script.js"></script>
</html>