            <div class='menu'>
                    <div class="lmenu"><span id='abc'>O'</span>RACLE</div>
                    <div class="rmenu">
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="about">About</a></li>
                            <li><a href="status">Status</a></li>
                            <li><a href="blogs">Blogs</a></li>
                            <li><a href="contact">Contactus</a></li>
                        </ul>
                    </div>
            </div>
            