{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        
        <div class="container">
            <div class="grid">
                <div class="row">
                    <div onclick="handleClick(this)" id="0" class="col"></div>
                    <div onclick="handleClick(this)" id="1" class="col"></div>
                    <div onclick="handleClick(this)" id="2" class="col"></div>
                </div>
                <div class="row">
                    <div onclick="handleClick(this)" id="3" class="col"></div>
                    <div onclick="handleClick(this)" id="4" class="col"></div>
                    <div onclick="handleClick(this)" id="5" class="col"></div>
                </div>
                <div class="row">
                    <div onclick="handleClick(this)" id="6" class="col"></div>
                    <div onclick="handleClick(this)" id="7" class="col"></div>
                    <div onclick="handleClick(this)" id="8" class="col"></div>
                </div>
                <h3 id="win"></h3>
            </div>
        </div>
        
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>