<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css">

    </head>
    <body>
        <h1>WELCOME TO MY PAGE</h1>
        <h3>Computer</h3>
        <p>A computer is an electronic device that processes data and performs tasks according to a set of instructions called a program.
In simple terms, a computer takes input, processes it, and produces output.
💻 Basic Definition
A computer is a programmable electronic device that can store, retrieve, and process data.</p>
<img src="static/img/abcd.avif" width='200', height='150'>
<button onclick="myfunc()">Click Me!</button>
    </body>
    <script src="static/js/script.js"></script>
</html>